@page "/fetchdata"
@inject HttpClient Http
@using System.Linq 



<div style="margin-bottom:20px;">
    <h2>Available Vaccine doses <input type="image" src="img/Refresh_v1.png" width="30px" alt="Refresh" @onclick="RefreshDose" /></h2>
    
</div>

<input id="btnStart" type="button" @onclick="StartRefresh" value="Start Auto Refresh(30s)" />
<input id="btnStop" type="button" @onclick="StopRefresh" value="Stop Refresh" />
<label> Last refresh time: @localtime </label>

@if (forecasts == null)
{
    <p><em>Loading...</em></p> 
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>date</th>
                <th>Total Doses</th>
                <th>dose 1</th>
                <th>dose 2</th>
                <th>Name and address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts.centers)
            {

                @foreach (var session in forecast.sessions)
                {
                    @if (@session.available_capacity > 0)
                    {
            <tr>
                <td>@session.date</td>
                <td>@session.available_capacity</td>
                <td>@session.available_capacity_dose1</td>
                <td>@session.available_capacity_dose2</td>
                <td>@forecast.name :<br /> @forecast.address</td>
            </tr>
                    }

                }

            }
        </tbody>
    </table>
}

@code {
    private Rootobject forecasts;
    private DateTime localtime;
    private System.Timers.Timer refreshTimer;
    private double refreshTimeInterval = 30000;

    protected override async Task OnInitializedAsync()
    {
        await RefreshDose();
    }

    public async Task RefreshDose()
    {
        string toDay = DateTime.Today.ToString("dd-MM-yyyy");

        string URL = "https://cdn-api.co-vin.in/api/v2/appointment/sessions/public/calendarByDistrict?district_id=725&date="+toDay;
        forecasts = await Http.GetFromJsonAsync<Rootobject>(URL);
        Rootobject vacdata= forecasts;

        var vailableDose = from Center center in vacdata.centers
                           from Session session in center.sessions
                           where (session.available_capacity > 0 || (session.available_capacity_dose1 > 0 || session.available_capacity_dose2 > 0))
                           select center;
        var center1 = vailableDose.ToArray();
        forecasts.centers = center1;
        localtime = DateTime.Now;
        StateHasChanged();
    }

    public void StartRefresh()
    {
        try
        {
            refreshTimer = new System.Timers.Timer(refreshTimeInterval);
            refreshTimer.Elapsed += TimerCallback;
            refreshTimer.Enabled = true;
            refreshTimer.Start();

        }
        catch (Exception ex)
        {

        }


    }
    public void TimerCallback(Object source,System.Timers.ElapsedEventArgs e)
    {
        RefreshDose().Wait();
    }
    public void StopRefresh()
    {
        refreshTimer.Stop();
    }

    public class WeatherForecast
    {
        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }

        public string Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
